[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "apt-get update",
  "apt-get install -y yt-dlp ffmpeg",
  "rm -rf /var/lib/apt/lists/*",
  "npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

